.main-container {
    margin: 16px 16px 16px 16px;
}

.example-full-width{
    width: 300px;
}

.row{
    display: flex;
    clear: both;
    align-items: baseline;
}

.col-25 {
    float: left;
    width: 10%;
}
  
.col-75 {
    float: left;
    width: auto;
}

.note{
    color: #ff0000;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.button-action{
    margin-top: 20px;
    margin-left: 92px;
}