<div class="split left" routerLink="/hrm/view-employee">
    <div class="centered">
        <!-- <img src="img_avatar2.png" alt="Avatar woman"> -->
        <mat-icon style="font-size: 100px; width: fit-content;">face</mat-icon>
        <h2>Human Resource Management Staff</h2>
        <!-- <p>Some text.</p> -->
    </div>
</div>

<div class="split right" routerLink="/cpa/booking-office/list">
    <div class="centered">
        <!-- <img src="img_avatar.png" alt="Avatar man"> -->
        <mat-icon style="font-size: 100px; width: fit-content;">commute</mat-icon>
        <h2>Car Park
            Operation
            Administration
            Staff</h2>
        <!-- <p>Some text here too.</p> -->
    </div>
</div>